ckpts/*.pt filter=lfs diff=lfs merge=lfs -text
ckpts/*.pth filter=lfs diff=lfs merge=lfs -text
audiotrain/saved/**/*.pth filter=lfs diff=lfs merge=lfs -text
pyfeat/feat/resources/**/*.pth filter=lfs diff=lfs merge=lfs -text
pyfeat/feat/resources/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
pyfeat/feat/resources/**/blobs/* filter=lfs diff=lfs merge=lfs -text
